<div class="ng-container">
  <div class="app-footer">
    <div class="app-footer__logo">
      <img src="assets/images/logo-square.png" />
    </div>

    <div class="app-footer__copyright">
      由
      <a target="_blank" href="https://github.com/rmlzy/jsecho">Jsecho</a>
      强力驱动, 版本 1.0.0 (2020.04.01)
    </div>

    <div class="app-footer__links">
      <a>源代码</a>
      <span> • </span>
      <a>帮助文档</a>
      <span> • </span>
      <a>报告错误</a>
      <span> • </span>
      <a>资源下载</a>
    </div>
  </div>
</div>
