<h3>密码修改</h3>
<form nz-form [formGroup]="passwordForm" nzLayout="vertical" (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-label nzRequired>用户密码</nz-form-label>
    <nz-form-control nzErrorTip="必须填写用户密码" [nzExtra]="passwordExtraTpl">
      <input nz-input formControlName="password" type="password" maxlength="64" />
      <ng-template #passwordExtraTpl>
        <div>为此用户分配一个密码.</div>
        <div>建议使用特殊字符与字母、数字的混编样式,以增加系统安全性.</div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>用户密码确认</nz-form-label>
    <nz-form-control nzErrorTip="必须再次输入密码" [nzExtra]="confirmExtraTpl">
      <input nz-input formControlName="confirm" type="password" maxlength="64" />
      <ng-template #confirmExtraTpl>
        <div>请确认你的密码, 与上面输入的密码保持一致.</div>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row style="margin-bottom: 8px">
    <nz-form-control>
      <button nz-button nzType="primary" type="submit">更新密码</button>
    </nz-form-control>
  </nz-form-item>
</form>
