<nz-table
  #contentTable
  nzSize="small"
  [nzBordered]="true"
  [nzFrontPagination]="false"
  [nzShowSizeChanger]="true"
  [nzShowTotal]="totalTemplate"
  [nzLoading]="tableLoading"
  [nzData]="tableData.items"
  [nzPageIndex]="tableData.pageIndex"
  [nzPageSize]="tableData.pageSize"
  [nzTotal]="tableData.total"
  (nzQueryParams)="query($event)"
>
  <thead>
    <tr>
      <th nzWidth="50px">ID</th>
      <th>标题</th>
      <th nzWidth="100px">作者</th>
      <th nzWidth="200px">分类</th>
      <th nzWidth="100px">日期</th>
      <th nzWidth="120px">操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of contentTable.data">
      <td>{{ data.cid }}</td>
      <td>{{ data.title }}</td>
      <td>{{ data.authorName }}</td>
      <td>{{ data.categories }}</td>
      <td>{{ data.created | timeago }}</td>
      <td>
        <a>编辑</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a
          nz-popconfirm
          nzPopconfirmTitle="删除以后不可恢复, 是否继续?"
          nzPopconfirmPlacement="left"
          (nzOnConfirm)="remove(data.cid)"
        >
          删除
        </a>
      </td>
    </tr>
  </tbody>

  <ng-template #totalTemplate let-total>共 {{ total }} 条数据</ng-template>
</nz-table>
