@import 'layout';

.clearfix:before,
.clearfix:after,
.ng-container:before,
.ng-container:after {
  content: ' ';
  display: table;
}

.clearfix:after,
.ng-container:after {
  clear: both;
}

.ng-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .ng-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .ng-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .ng-container {
    width: 1170px;
  }
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: #f6f6f3 !important;
}
